// Variables
$mainColor: #59c6bc;
$subColor: #fff568;
$shadow: 0 0 25px 6px rgba($color: #000000, $alpha: 0.5);
//Global Css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: f-reg;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.Containar {
    width: 80%;
    margin: auto;
}

.title-sec{
    text-align: center;
}

.btn-webSite{
        color: #505050;
        font-family: f-medium;
        font-size: 24px;
        background-color: $subColor ;
        padding: 12px 53px;
        border-radius: 28px;
        border: 1px solid  $subColor ;
}


@font-face {
    font-family: f-reg;
    src: url(../fonts/JF-Flat-regular.ttf);
}

@font-face {
    font-family: f-light;
    src: url(../fonts/JF\ Flat\ light.ttf);
}

@font-face {
    font-family: f-medium;
    src: url(../fonts/JF\ Flat\ medium.ttf);
}

@font-face {
    font-family: f-bold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: g-tv;
    src: url(../fonts/ge-tv.ttf);
}

@font-face {
    font-family: icon54 ;
    src: url(../fonts/icon54com.ttf);
}
@font-face {
    font-family:web-reg ;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}

// main-header
.main-header {
    background-color: $mainColor;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    
    nav {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            img {
                height: 60px;
                width: 237px;
            }
        }

        ul {
            display: flex;
            gap: 40px;
            align-items: center;

            li {
                &.active {
                    padding: 12px 24px;
                    border-radius: 19px;
                    background-color: $subColor;

                    a {
                        color: #505050;
                    }
                }

                a {
                    font-size: 14.9px;
                    color: #fff;
                }
            }
        }

//res-medium and small
        @media (max-width:991px) {
            ul {
                display: none;
            }
        }
    }
}

// --------------------------------------------------------------------------------------------

//Welcome-sec
.Welcome-sec {
    margin-top: 90px;
    height: 630px;
    background-size: cover !important;
    background-attachment: fixed !important;
    .content {
        width: 408px;
        padding: 110px 0;

        h1 {
            font-family: g-tv;
            color: #ffffff;
            font-size: 51px;
            margin-bottom: 45px;
        } 

        p {
            color: #ffffff;
            font-size: 24px;
            margin-bottom: 38px;
        }

        .btn-webSite {
            color: #505050;
            font-family: f-medium;
            font-size: 24px;
            background-color: $subColor ;
            padding: 12px 53px;
            border-radius: 28px;
            border: 1px solid  $subColor ;
            display: inline-block;
        }
    }

}

//responsive welcome-sec
@media (max-width:991px) {
    .Welcome-sec{
        height: 560px;
        padding-top: 40px;
        .content{
            background-color: rgba($color: #000000, $alpha: 0.5);
            width: 100%;
            padding: 30px 8px;
            border-radius: 30px;
            text-align: center;
            h1{
                font-size: 30px;
                margin-bottom: 20px;
            }

            p{
                font-size: 25px;
                margin-bottom: 20px;
            }

            .btn-webSite{
                padding: 6px 25px;
                font-size: 20px;
            }
        }
    }
}

// ----------------------------------------------------------------------------------------------
   
//features-sec
.features-sec {
    padding-top: 86px;
    padding-bottom: 77px;
    .Containar{
    .all-activity {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            width: 291px;
            padding: 52px 54px 44px 30px;
            transition: all 0.3s linear;
            &:hover{
                transform: scale(1.03);
                box-shadow: $shadow;
            }
            img{
                width: 75px;
                height: 70px;
                margin-bottom: 30px;
                display: inline-block;
            }
            h3{
                font-size: 24px;
                color: #ffffff;
                margin-bottom: 23px;
            }

            p{
                color: #ffffff;
                font-size: 14px;
            }
        }

        .box1 {
            background-color: #2d98a2;
        }

        .box2 {
            background-color: #4fc5ba;
        }

        .box3 {
            background-color: #eb774c;
        }

        .box4 {
            background-color: #edbf47;
        }
    }

//res-features mobile small
    @media (max-width:767px) {
        .all-activity{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .box{
                width: 100%;
                padding: 45px 45px 35px 25px;
                img{
                    width: 65px;
                    height: 55px;
                    margin-bottom: 10px;
                }

                h3{
                    font-size: 20px;
                    margin-bottom: 15px;
                }

            }
        }
    }

//res-features ipad
    @media (min-width:768px)  and (max-width:991px){
        .all-activity{
            align-items: center;
            flex-direction: column;
            .box{
                width: 100%;
                padding: 45px 45px 35px 25px;
            }
        }
    }

}

//res-features Leptopp
@media (min-width:992px) and (max-width:1199px) {
        .Containar{
            width: 90%;
            .all-activity{
                flex-wrap: wrap;
                width: 100%;
                .box{
                    width: 50%;
                }
                }
            }
}
}

// ----------------------------------------------------------------------------------------------

// news-sec
.news-sec{
    padding-top: 44px;
    padding-bottom: 77px;
    background-color: #fafafa;
    .title-sec{  
        margin-bottom: 54px;  
        h1{
        font-size: 24px;
        font-family: f-medium;
        color: #505050;
    }

    h5{
        font-size: 14px;
        color: $mainColor;
    }
}

    
    .all-news{
        display: flex;
        justify-content: center;
        gap: 20px;
        .news{
            position: relative;
            width: 385px;
            background-color: #ffffff;
            box-shadow: 0 0  10px 3px rgba(0, 0, 0,0.1);
            .news-type{
                top: 12px;
                left: 12px;
                position: absolute;
                border-radius: 4px;
                font-size: 16px;
                padding: 6px 12px;
                background-color: rgba($color: #f4ec78, $alpha: 0.8);
            }

            img{
                display: inline-block;
                width: 100%;
                height: 222px;
            }

            .content{
                padding: 25px 22px;
                .date{
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;
                    i{
                        color: $mainColor;
                        margin-left: 8px;
                    }
                    span{
                        font-size: 15px;
                        color: #737373;
                    }
                }
                h2{
                    color: #767676;
                    font-size: 21px;
                    margin-bottom: 21px;
                    font-family:f-medium;
                }
    
                p{
                    color: #999999;
                    font-size: 16px;
                    margin-bottom:25px ;
                    display: inline-block;
                }
                .btn-webSite{
                    border-radius: 23px;
                    padding: 11px 48px;
                    font-size: 18px;
                    display: inline-block;
                }
            }
        }
    }

    @media (max-width:991px) {
    .all-news{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .news{
            width: 100%;

            img{
                height: 200px;
            }

            .content{
                padding: 18px 14px;
                .date{
                    margin-bottom: 10px;
                }
                h2{
                    font-size: 18px;
                    margin-bottom: 12px;
                }

                p{
                    margin-bottom: 12px;
                }
                .btn-webSite{
                    border-radius: 20px;
                    padding: 6px 35px;
                    font-size: 14px;
                }
            }

        }

    }

    }
}

// ------------------------------------------------------------------------------------------------

// goal-sec
.goal-sec{
    height: 383px;
    background-size: cover !important;
    position: relative;
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #73cbbf, $alpha: 0.8);
      padding-top: 53px;
      padding-bottom: 100px;
    }

    .title-sec{
        h3{
            font-family: f-medium;
            font-size: 24px;
            color: #ffffff;
        }

        h6{
            font-size: 14px;
            color: #ffffff;
        }
    }

    .all{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        flex-wrap: wrap;
        .box{
            width: 25%;
            text-align: center;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            img{
                width: 67px;
                height: 75px;
            }
             h1{
                    font-family:web-reg ;
                    font-size: 53px;
                    color: #fefefe;
                    font-weight: normal;
            }
    
            h3{
                    font-size: 22px;
                    color: #505050;
           }
    }
}
}

// res-goal
@media (max-width:991px) {
    .goal-sec{
     height: 600px;
     .overlay{
         padding: 25px 0;
         .title-sec{
             h1{
                 font-family: f-medium;
                 font-size: 24px;
                 color: #ffffff;
             }
 
             h5{
                 font-size: 14px;
                 color: #ffffff;
             }
         }
     .all{
         margin-top: 20px;
         flex-wrap: wrap;
         gap: 30px;
         .box{
             width: 40%;
             text-align: center;
             flex-direction: column;
             gap: 2px;
             img{
                 width: 50px;
                 height: 50px;
             }
 
                 h1{
                     font-size: 40px;
                 }
 
                 p{
                     font-size: 20px;
                 }
 
         }
     }
 
 }
    }
 }

// ---------------------------------------------------------------------------------------------------

// says-sec
.says-sec{
    padding-top: 60px;
    padding-bottom: 85px;
    .title-sec{
        margin-bottom: 58px;
        h1{
            font-size: 24px;
            font-family: f-medium;
            color: #505050;
        }

        h5{
            font-size: 14px;
            color: $mainColor;
        }
    }
        .all-says{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 77px;
            .says{
                width: 40%;
                display: flex;
                gap: 32px;
                img{
                    height: 72px;
                    width: 72px;
                    margin-left: 8px;
                }
                .content{
                    position: relative;
                    border-radius: 20px;
                    background-color: #f9f9f9;
                    padding: 16px 26px;
                    h3{
                        font-size: 15px;
                        font-family: f-medium;
                        color: #3e3e3e;
                    }
                    
                    p{
                        font-size: 14px;
                        color: #505050;
                    }

                    ul{
                        display: flex;
                        gap: 30px;
                        li{
                            img{
                                height: 13px;
                                width: 13px;
                            }

                            .fo{
                                color: #505050;
                                font-size: 13px;
                                font-family:web-reg ;
                            }

                            span{
                                color: #505050;
                                font-size: 11px;
                            }
                        }
                    }
// علامة للتحدث ممكن اخذها كصورة
                    .sa{
                        top: 30px;
                        right: -9px;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: #f9f9f9;
                        transform: rotate(50deg);
                    }
                }
            }
        }
 }
// res-says
@media (max-width:991px) {
    .says-sec{
        padding-top: 30px;
        padding-bottom: 65px;
        .title-sec{
            margin-bottom: 25px;
            h1{
                font-size: 20px;
            }
    
            h5{
                font-size: 12px;
            }
        }
            .all-says{
                gap: 20px;
                .says{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    img{
                        height: 50px;
                        width: 50px;
                        margin-left: 8px;
                    }
                    .content{
                        border-radius: 20px;
                        background-color: #f9f9f9;
                        padding: 10px 20px;
                        h3{
                            font-size: 15px;
                            font-family: f-medium;
                            color: #3e3e3e;
                        }
                        
                        p{
                            font-size: 14px;
                            color: #505050;
                        }
    
                        ul{
                            display: flex;
                            gap: 10px;
                            li{
                                img{
                                    height: 6px;
                                    width: 6px;
                                }
    
                                .fo{
                                    color: #505050;
                                    font-size: 13px;
                                    font-family:web-reg ;
                                }
    
                                span{
                                    color: #505050;
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
     }
}

// ---------------------------------------------------------------------------------------------------

// contact-sec
.contact-sec{
    padding: 90px 0;
    background-color: #eef6f6;
    .all{
        display: flex;
        gap: 28px;
        img{
            height: 334px;
            width: 580px;
            background-size: cover !important;
        }

        .box{
            height: 334px;
            width: 270px;
            box-shadow: 0 0 3px 1px rgba($color: #000000, $alpha: 0.1);
            border-radius: 18px;
            background-color: #ffffff;
        }

        .cont1{
            padding: 10px 35px;
            h2{
                color: #505050;
                font-size: 21px;
                text-align: center;
                font-family: f-light;
            }

            ul{
                margin-top: 32px;
                li{
                    margin-bottom: 15px;
                    i{
                        color: $mainColor;
                        margin-left: 4px;
                    }
                    
                    a{
                        font-size: 17px;
                        color: #505050;
                        display: inline-block;
                    }

                    p{
                        font-family: f-light;
                        font-size: 16px;
                        color: #505050;
                    }
                }
          
            }
        }

        .cont2{
            padding: 18px 18px;
            text-align: center;
            h2{
                color: #3a3a3a;
                font-size: 24px;
                font-family: f-light;
                margin-bottom: 20px;
            }
            p{
                color: #737373;
                font-size: 14px;
                margin-bottom: 30px;
            }

            span{
                display: inline-block;
                color: #555555;
                font-size: 14px;
                padding: 6px 30px;
                border-radius: 10px;
                background-color: rgba($color: #f4ec78, $alpha: 0.8);
                margin-bottom: 6px;
            }

            bdi{
                font-size: 20px;
                font-family: Tahoma;
                color: #555555;
                em{
                    color: #62c0b1;
                }
            }
        }
    }
}
// res contant mobile
@media (max-width:991px) {
    .contact-sec{
        padding: 30px 0;
        background-color: #eef6f6;
        .all{
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            img{
                height: 334px;
                width: 100%;
            }
    
            .box{
                height: 300px;
                width: 270px;
            }
    
            .cont1{
                padding: 10px 35px;
                h2{
                    font-size: 18px;
                }
    
                ul{
                    margin-top: 20px;
                    li{
                        margin-bottom: 20px;
                        i{
                            margin-left: 2px;
                        }
                        
                        a{
                            font-size: 15px;
                        }
    
                        p{
                            font-size: 12px;
                        }
                    }
              
                }
            }
    
            .cont2{
                padding: 14px 14px;
                h2{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 30px;
                }
    
                span{
                    font-size: 12px;
                    padding: 6px 30px;
                }
    
                bdi{
                    font-size: 18px;
                }
            }
        }
    }
}

// res contant ipad and laptop
@media (min-width:992px) and (max-width:1350px){
    .contact-sec{
        padding: 30px 0;
        background-color: #eef6f6;
        .all{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            img{
                height: 334px;
                width: 334px;
            }
    
            .box{
                height: 334px;
                width: 230px;
            }
    
            .cont1{
                width: 230px;
                padding: 10px 35px;
                h2{
                    font-size: 18px;
                }
    
                ul{
                    margin-top: 20px;
                    li{
                        margin-bottom: 25px;
                        i{
                            margin-left: 2px;
                        }
                        
                        a{
                            font-size: 15px;
                        }
    
                        p{
                            font-size: 12px;
                        }
                    }
              
                }
            }
    
            .cont2{
                padding: 14px 14px;
                h2{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 30px;
                }
    
                span{
                    font-size: 12px;
                    padding: 6px 30px;
                }
    
                bdi{
                    font-size: 18px;
                }
            }
        }
    }
}

// -------------------------------------------------------------------------------------------------

// sendEmil-sec
.sendEmil-sec{
    background-size: cover !important;
    width: 100%;
    height: 360px;
    background-color: rgba($color: #0f0f0f, $alpha: 1.0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        padding: 18px 26px;
        background-color: rgba($color: #68bfb7, $alpha: 0.8);
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        input{
            width: 365px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #68bfb7;
            color: #8e8e8e;
            font-size: 15px;
            font-family: f-medium;
            text-align: center;
        }

        button{
            width: 62px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #68bfb7;
            border: 1px solid #797979;
            background-color: #797979;
        }
    }
}
// res-emil
@media (max-width:991px) {
    .sendEmil-sec{
        height: 150px;
        form{
            padding: 12px 4px;
            gap: 10px;
            input{
                width: 260px;
                font-size: 12px;
            }
    
            button{
                width: 30px;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------

//footer
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 66px 0;
    background-color: #ffffff;
    h1{
        font-size: 41px ;
        color: #656565;
        font-family: g-tv;
        margin-bottom: 46px;
    }

    p{
        font-size: 15px;
        color:#656565 ;
        text-align: center;
        margin-bottom: 46px;
        width: 775px;
        @media (max-width:991px) {
            width: 96%;
        }
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        a{
            text-align: center;
            border: 1px solid #555555;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: inline-block;
            i{
                font-size: 13px;
                font-family: icon54 ;
                color:#666666 ;
                transition: all 0.1s linear;
            }

            &:hover i{
                color: $mainColor;
            }
        }
    }
}